*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Visual Studio Code
.vscode

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
bin/
obj/
out/
artifacts/
TestResults/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio 2015
.vs/

#Local config files
config.json
config.*.json
project.lock.json
.env
.envrc

# Terraform
.terraform
terraform.tfstate*
*.tfstate
*.tfstate.backup
*.tfstate.lock.info
*gitignore*.tf
*tfplan*
*lock.hcl*
.terraform/

# Jetbrains
**/.idea/

docker
/homevolt/src/Homevolt/Properties/launchSettings.json
